<!DOCTYPE html>
<html>
<head>
	<title>Page d'administration</title>
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
    <div class="sidebar">
        <div class="logo">
            Ynet
            <span>Admin page navigation</span>
        </div>
        <a href="/"><li>Accueil</li></a>
        <a href="/logout"><li>Login</li></a>
        <a href="/update"><li>Paramètres</li></a>
    </div>

    <h1>Page d'administration</h1>
    <table class="styled-table">
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Admin</th>
            <th>Action</th>
            <th>Action</th>
            <th>Banni</th>
        </tr>
        {{range .}}
        <tr>
            <td>{{.ID}}</td>
            <td>{{.Username}}</td>
            <td>{{.Email}}</td>
            <td>{{if .IsAdmin}}Oui{{else}}Non{{end}}</td>
            <td><button class="button" onclick="banUser('{{.ID}}')">Ban</button></td>
            <td><button class="button2" onclick="unbanUser('{{.ID}}')">Déban</button></td>
            <td>{{if .IsBanned}}Oui{{else}}Non{{end}}</td>
        </tr>
        {{end}}
    </table>

    <script src="/js/admin.js"></script>
</body>
</html>  