<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/error.css">
    <title>Error !</title>
</head>
<body>
    <div class="noise"></div>
<div class="overlay"></div>
<div class="terminal">
    <h1>Error <span class="errorcode">404</span></h1>
    <p class="output">Il semblerait que ton mot de passe ou ton nom d'utilisateur soit incorrect !</p>
    <p class="output">Retourne à <a href="/login">la connection</a> ou à<a href="/signup">l'inscription</a>.</p>
    <p class="output">Bonne chance !</p>
</div>
</body>
</html>