<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>En savoir plus !</title>
  <link rel="stylesheet" href="/css/plus.css">
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
</head>

<body>
  <a href="/" class="btn btn-primary">Retour</a>
  <div class="container">
    <h2 class="title"
      style="text-decoration: underline; font-family: 'Roboto Condensed', sans-serif;margin-bottom: 20px;">En savoir
      plus :</h2>
    <ul>
      <li class="dropdown">
        <input type="checkbox" />
        <a href="#" data-toggle="dropdown">Les cookies</a>
        <ul class="dropdown-menu">
          <li>
            <h3>La page explique comment les cookies sont utilisés par ce site. Si vous continuez à utiliser ce site,
              vous consentez à utiliser les cookies..</h3>

            <h1>Que sont les cookies ?</h1>
            <p>Les cookies sont de petits fichiers stockés sur votre ordinateur par votre navigateur web (comme Internet
              Explorer ou Firefox) à la demande d'un site que vous consultez. Cela permet au site que vous consultez à
              se souvenir des choses sur vous, comme vos préférences, de l'histoire ou du maintien de votre
              identification.</p>
            <br>
            <p>Les cookies peuvent être stockés sur votre ordinateur pendant une courte période (par exemple, que si
              votre navigateur est ouvert) ou pour une période de temps prolongée, voire des années. Les cookies créées
              par ce site ne seront pas accessibles pour nous.</p>

            <h1>Notre utilisation des cookies</h1>
            <h4 style="text-decoration: underline;">Ce site utilise des cookies pour de nombreuses choses, y compris:
            </h4>

            <ul>
              <li>L'inscription et le maintien de vos préférences. Il faut s'assurer que vous pouvez rester connecté et
                de garder le site dans la langue ou l'apparence que vous avez demandé.</li>
              <li>Google Analytics. Cela nous permet de déterminer comment les gens utilisent le site et l'améliorer.
              </li>
              <li>Cookies publicitaires (éventuellement la troisième partie). Si ce site affiche des publicités, les
                cookies peuvent être fixés par les annonceurs afin de déterminer qui a vu une annonce ou des choses
                semblables. Ces cookies peuvent être fixés par des tiers, dans ce cas, ce site n'a pas la capacité de
                lire ou de modifier ces cookies.</li>
              <li>Autres cookies pour des choses comme Facebook ou Twitter. Le partage de ces cookies sera généralement
                fixé par les tiers, indépendamment, de sorte que ce site n'aura pas la capacité d'y accéder.</li>
            </ul>
            <h1>Retrait / désactivation des cookies</h1>
            <h4>Le contrôle des cookies et leur préférences doivent être manipulés au sein de votre navigateur. Voici
              une liste de guides sur la façon de faire cela pour un logiciel de navigation populaires:</h4>
            <ul>
              <li>Internet Explorer</li>
              <li>Firefox</li>
              <li>Chrome</li>
              <li>Safari</li>
              <li>Opera</li>
            </ul>

        </ul>
      </li>

      <li class="dropdown">
        <input type="checkbox" />
        <a href="#" data-toggle="dropdown">Politique de confidentialité</a>
        <ul class="dropdown-menu">

          <h4>Nous sommes Ynet et nous nous engageons à protéger et à respecter votre vie privée. Si vous avez des
            questions au sujet de vos renseignements personnels, veuillez nous contacter.</h4>
          <br>
          <h2>Quelles informations nous détenons à votre sujet</h2>
          <br>
          <p>Le type de données que nous recueillons et traitons comprend :</p>
          <ul>
            <li>- Votre nom ou nom d'utilisateur.</li>
            <li>- Votre adresse email.</li>
            <li>- Votre adresse IP.</li>
          </ul>
          <p>D'autres données peuvent être recueillies si vous choisissez de les partager, par exemple si vous
            remplissez les champs de votre profil.</p>
          <br>
          <h4>Nous recueillons une partie ou la totalité de ces informations dans les cas suivants :</h4>
          <ul>
            <li>- Vous vous inscrivez en tant que membre sur ce site.</li>
            <li>- Vous remplissez notre formulaire de contact.</li>
            <li>- Vous naviguez sur ce site. Voir "Politique en matière de cookies" ci-dessous.</li>
            <li>- Vous remplissez les champs de votre profil.</li>
          </ul>
          <br>
          <h2>Comment vos renseignements personnels sont utilisés</h2>
          <p>Nous pouvons utiliser vos renseignements personnels de la façon suivante :</p>
          <ul>
            <li>- Dans le but de faire de vous un membre enregistré de notre site, afin que vous puissiez contribuer au
              contenu de ce site.</li>
            <li>- Nous pouvons utiliser votre adresse électronique pour vous informer de l'activité sur notre site.</li>
            <li>- Votre adresse IP est enregistrée lorsque vous effectuez certaines actions sur notre site. Votre
              adresse
              IP n'est jamais visible publiquement.</li>
          </ul>
          <br>
          <h2>Autres façons dont nous pouvons utiliser vos renseignements personnels</h2>
          <br>
          <p>En plus de vous informer des activités sur notre site qui peuvent être pertinentes pour vous, de temps à
            autre, nous pouvons souhaiter communiquer avec tous les membres toute information importante telle que des
            bulletins d'information ou des annonces par courriel. Vous pouvez choisir de recevoir ou non de tels
            courriels dans votre profil.</p>
          <br>
          <p>Nous pouvons recueillir des renseignements personnels non identifiables à votre sujet dans le cadre de
            votre interaction avec notre site. Ces informations peuvent inclure des informations techniques sur le
            navigateur ou le type d'appareil que vous utilisez. Ces informations seront utilisées uniquement à des fins
            d'analyse et de suivi du nombre de visiteurs de notre site.</p>
          <br>
          <h2>Sécurisation de vos données</h2>
          <br>
          <p>Nous nous engageons à faire en sorte que les informations que vous nous fournissez soient sécurisées. Afin
            d'empêcher tout accès ou divulgation non autorisés, nous avons mis en place des mesures et des procédures
            appropriées pour protéger et sécuriser les informations que nous recueillons.</p>
          *<br>
          <h2>Politique sur les cookies</h2>
          <br>
          <p>Les cookies sont de petits fichiers texte que nous installons sur votre ordinateur et qui nous permettent
            de fournir certaines fonctionnalités sur notre site, comme la possibilité de se connecter ou de se souvenir
            de certaines préférences.</p>
          <br>
          <h2>Acceptation de cette politique</h2>
          <br>
          <p>L'utilisation continue de notre site signifie que vous acceptez cette politique. Si vous n'acceptez pas la
            politique, veuillez ne pas utiliser ce site. Lors de votre inscription, nous vous demanderons en outre
            d'accepter explicitement la politique de confidentialité.</p>
          <br>
          <h2>Modifications de cette politique</h2>
          <br>
          <p>Nous pouvons apporter des modifications à cette politique à tout moment. Il se peut que l'on vous demande
            d'examiner et d'accepter de nouveau les renseignements contenus dans la présente politique s'ils changent à
            l'avenir.</p>

        </ul>

      </li>
    </ul>
  </div>
  <script src="/js/scripts.js"></script>
</body>

</html>