<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Ynet</title>
    <link rel="stylesheet" href="/css/like.css">
    <link rel="stylesheet" href="/css/topic.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/Ynet.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <audio id="key-sound" src="/audio/key.mp3"></audio>
    <audio id="key-sound" src="/audio/enter.mp3"></audio>
    <audio id="key-sound" src="/audio/backspace.mp3"></audio>
</head>

<body>
    <header>
        <div class="logo">
            <h1>Ynet</h1>
        </div>
    </header>
    <a href="/" class="btn btn-primary">Retour</a>
    <div class="tweet">
        <h3 class="post-title">{{.Title}}</h3>
        <a class="category">✔️ {{.Category}}</a>
        <p class="post-content">{{.Content}}</p>
        <form method="post">
            <div class="like-container">
                <div class="pp">
                    <p>Likes: {{.Upvotes}}</p>
                </div>
                <button type="submit" id="myButton" name="action" value="upvote" width="0px" height="0px">
                    <a class="like-button" href="#" onclick="simulateButtonClick(); toggleTheme();">
                        <svg id="like-button" width="20" height="20" viewBox="0 0 1792 1792">
                            <path
                                d="M320 1344q0-26-19-45t-45-19q-27 0-45.5 19t-18.5 45q0 27 18.5 45.5t45.5 18.5q26 0 45-18.5t19-45.5zm160-512v640q0 26-19 45t-45 19h-288q-26 0-45-19t-19-45v-640q0-26 19-45t45-19h288q26 0 45 19t19 45zm1184 0q0 86-55 149 15 44 15 76 3 76-43 137 17 56 0 117-15 57-54 94 9 112-49 181-64 76-197 78h-129q-66 0-144-15.5t-121.5-29-120.5-39.5q-123-43-158-44-26-1-45-19.5t-19-44.5v-641q0-25 18-43.5t43-20.5q24-2 76-59t101-121q68-87 101-120 18-18 31-48t17.5-48.5 13.5-60.5q7-39 12.5-61t19.5-52 34-50q19-19 45-19 46 0 82.5 10.5t60 26 40 40.5 24 45 12 50 5 45 .5 39q0 38-9.5 76t-19 60-27.5 56q-3 6-10 18t-11 22-8 24h277q78 0 135 57t57 135z" />
                        </svg>
                    </a>
                </button>
                <button type="submit" id="myButton2" name="action" value="downvote" width="0px" height="0px">
                </button>
            </div>
            <p class="created-at">Posté le {{.CreatedAt.Format "02/01/2006 à 15:04"}} par <a style="color:black; text-decoration: underline;">{{.Username}}</a></p>

            {{if .Image}}
            <img src="data:image/jpeg;base64,{{.ImageData}}" width="100px" height="100px">
            {{end}}

        </form>

        <form id="messageForm">
            <input type="text" id="messageInput" placeholder="Entrez votre message" required />
            <button type="submit">Envoyer</button>
        </form>
    </div>

    <div class="existing-topics">
        <h2>Commentaires </h2>
        {{range .Messages}}
        <div>
            <p> {{ .Username }}: {{.Contenu}}</p>
            <p class="created-at">Posté le {{.CreatedAt.Format "02/01/2006 à 15:04"}}</p>
            <form action="/delete_message" method="POST" style="display: inline;" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce topic ?');">
                <input type="hidden" name="message_id" value="{{.ID}}">
                <button type="submit" class="delete-button">Supprimer</button>
            </form>
        </div>
        {{end}}

    </div>


    <script src="/js/messages.js"></script>
    <script src="/js/clique.js"></script>
    <script src="/js/count.js"></script>
    <script src="/js/cookies.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="/js/like.js"></script>
</body>

</html>